body {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  color: black;
}
#bloc_page {
  width: 1440px;
  margin: auto;
}
h1 {
  font-size: 1.35em;
  font-weight: bold;
}
h2 {
  font-size: 1.1em;
  font-weight: bold;
}
h3 {
  font-size: 1em;
  font-weight: bold;
}
h4 {
  font-size: 0.9em;
  font-weight: normal;
}
#strong {
  font-weight: bold;
}
#premiere_ligne strong {
  font-weight: bold;
  color: #0065fc;
}
p,
li {
  font-size: 0.97em;
  font-weight: normal;
}
header {
  display: flex;
  flex-direction: column;
}
#premiere_ligne {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
header img {
  width: 90px;
  height: 42px;
  margin-top: 15px;
}
nav ul {
  list-style-type: none;
  display: flex;
}
nav li {
  margin-right: 70px;
  position: relative;
  top: 0px;
}
.top_nav {
  padding-top: 40px;
  margin-top: 0px;
}
nav a {
  color: black;
  text-decoration: none;
  border-top: 2px solid #ffffff;
}
nav a:hover {
  color: #0065fc;
  border-top: 2px solid #0065fc;
}
header h1 {
  margin-top: 30px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
header p {
  margin-top: 10px;
  padding-top: 0px;
  margin-bottom: 20px;
}
#section_1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-start;
  height: 170px;
}
#recherche_form {
  display: flex;
}
.fa-map-marker-alt {
  display: flex;
  font-size: 0.97em;
  background-color: #f2f2f2;
  color: black;
  font-weight: normal;
  text-decoration: none;
  border: 1px solid #f2f2f2;
  border-right: none; /* Prevent double borders */
  border-radius: 15px 0px 0px 15px;
  width: 28px;
  padding: 16px 0px 8px 18px;
}
.champ_recherche {
  font-family: "Raleway", sans-serif;
  font-size: 0.97em;
  font-weight: bold;
  text-decoration: none;
  border: 1px solid #f2f2f2;
  padding: 9px 23px 9px 14px;
}
.boutton {
  background: #0065fc;
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 0.97em;
  font-weight: normal;
  text-decoration: none;
  border: 1px solid #0065fc;
  border-radius: 0px 15px 15px 0px;
  border-left: none; /* Prevent double borders */
  padding: 14px 25px 14px 23px;
  cursor: pointer;
}
.boutton:hover {
  background: #0000ff;
}

#filtres {
  display: flex;
}
#filtres ul {
  list-style-type: none;
  display: flex;
}
#filtres span {
  font-weight: bold;
}

#info {
  display: flex;
}
#info ul {
  list-style-type: none;
  display: flex;
}
